<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>17/10/09 00:00:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;App.closeBrowser()[pri:0, instance:com.whatsapp.message.sender.whatsapp.App@2b98378d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@597255128</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>17/10/09 00:00:26</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="App.test()[pri:0, instance:com.whatsapp.message.sender.whatsapp.App@2b98378d]">test</td> 
  <td>main@597255128</td>   <td></td> </tr>
</table>
